<div>
    <div class='row' >
      <div id='coluna_lateral'class="container-fluid">
      
      </div>
    
      <div id='coluna_central' class="col">
        <div id = 'alertas'> 
          <div id = 'alerta-erro'>tal</div>
          <script type="text/javascript" src="https://inteli.chat/app/js/resizer/iframeResizer.min.js"></script><iframe src="https://inteli.chat/app/client/client.php?cdbot=9069870313972901306" scrolling="no" width="100%" style="border-width:0px" onload="iFrameResize()"></iframe>

        </div>
      </div>

      <div id='coluna_lateral' class="container-fluid">
      </div>
      <div id></div>
    </div>
</div>

